@keyframes bounce{
  from,
  20%,
  53%,
  to{
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43%{
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70%{
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90%{
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

.loadingSplash{
  --size: 4vw;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--size) * 0.5);
  background-color: var(--swatch-100);
  color: var(--swatch-900);
  font-size: calc(var(--size) * 0.75);
  opacity: 0;
  transform: scale(1);
  transition: 1s all ease-in-out;
  pointer-events: none;
  
  &.show{
    opacity: 1;
    transform: scale(1.1);
  }

  .logo{
    width: var(--size);
    height: var(--size);
    image-rendering: pixelated;
    animation: bounce 1s infinite both;
  }
}