.interface, .mobileInterface{
  position: fixed;
  z-index: 1;
  top: var(--spacing-16);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  padding: var(--spacing-16);
  background: var(--swatch-0);
  border: 2px solid var(--swatch-900);
  outline: 4px solid var(--swatch-0);

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-16);
  }
}

.title{
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-300);
}

.logo{
  display: block;
  width: var(--spacing-16);
  height: var(--spacing-16);
  image-rendering: pixelated;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;

  .icon{
    width: var(--spacing-24);
    height: var(--spacing-24);
    color: var(--swatch-900);
  }
}

.paused{
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  // background-color: var(--swatch-100);
  padding: var(--spacing-4) var(--spacing-8);
  border: 1px solid var(--swatch-100);
  border-radius: 3px;
  font-size: var(--font-100);
  text-transform: uppercase;
  color: var(--swatch-700);
  
  .icon{
    width: var(--spacing-16);
    height: var(--spacing-16);
  }
}

@media screen and (max-width: 512px) {
  .mobileInterface{
    position: static;
    transform: none;
  }
}