@font-face {
  font-family: 'Pixigma';
  font-display: swap;
  src: url("/assets/fonts/pixigma.woff2") format("woff2"),
       url("/assets/fonts/pixigma.woff") format("woff");
  font-weight: normal;
  font-style: normal
}