:root{
  /* Colors */
  --swatch-0: black;
  --swatch-100: rgb(41, 28, 50);
  --swatch-500: rgb(89, 50, 114);
  --swatch-700: rgb(178, 158, 184);
  --swatch-900: rgb(230, 214, 235);
  
  /* Spacing */
  --spacing-32: 32px;
  --spacing-24: 21px;
  --spacing-16: 16px;
  --spacing-8: 8px;
  --spacing-4: 4px;

  /* Font size */
  --font-900: 36px;
  --font-500: 15px;
  --font-300: 13px;
  --font-200: 11px;
  --font-100: 9px;
}