.palette{
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.colorContainer{
  position: relative;
}

.colorState{
  --size: 24px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(-0.9 * var(--size));
  left: calc(50% - var(--size) / 2);
}

.color{
  display: block;
  width: var(--spacing-16);
  height: var(--spacing-16);
  border: 2px solid var(--swatch-0);
  outline: 2px solid var(--swatch-100);

  &:hover{
    border-color: var(--swatch-900);
  }
}